
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user test</title>
    <!-- load stylesheets -->
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,400' %}">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
    <!-- Bootstrap style -->
    <link rel="stylesheet" href="{% static 'myapp/css/hero-slider-style.css' %}">
    <!-- Hero slider style (https://codyhouse.co/gem/hero-slider/) -->
    <link rel="stylesheet" href="{% static 'myapp/css/magnific-popup.css' %}">
    <!-- Magnific popup style (http://dimsemenov.com/plugins/magnific-popup/) -->
    <link rel="stylesheet" href="{% static 'myapp/css/tooplate-style.css' %}">


<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/table_view/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/table_view/css/main.css' %}">
<!--===============================================================================================-->

</head>
<body>





    <!-- Content -->
        <div class="cd-hero">

            <!-- Navigation -->
            <div class="cd-slider-nav">
                <div class="container">
                    <nav class="navbar">
                        <div class="tm-navbar-bg">
                            <a class="navbar-brand text-uppercase" href="#">USER TEST</a>
                            <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                                &#9776;
                            </button>
                            <div class="collapse navbar-toggleable-md text-xs-center text-uppercase tm-navbar" id="tmNavbar">
                                <ul class="nav navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'admin_settings' %}" data-no="1">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'admin_category_master_view' %}" data-no="2">Category </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'admin_staff_master_view' %}" data-no="3">Staff </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'admin_pic_pool_view' %}" data-no="4">Pic Pool </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'admin_changepassword' %}" data-no="5">Change Password</a>
                                    </li>
                                    <li class="nav-item  active selected">
                                        <a class="nav-link" href="{% url 'admin_user_test_master_view' %}" data-no="6">User Test</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'admin_home' %}" data-no="7">Back</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
<center>

<form name="frm" action="" method="post">
            {% csrf_token %}
    <div class="limiter">
        <br><br><br>
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1">
                    <div class="wrap-table100-nextcols js-pscroll">
						<div class="table100-nextcols">
							<table>
								<thead>
									<tr class="row100 head">
										<th class="cell100 column2">ID</th>
                                        <th class="cell100 column3">Name</th>
										<th class="cell100 column4">Picture</th>
										<th class="cell100 column5">Category</th>
										<th class="cell100 column6">Date/Time</th>
									</tr>
								</thead>
								<tbody>
                                    {% for t in test_list %}
									<tr class="row100 body">
										<td class="cell100 column2">{{ t.id }}</td>
                                        {% for k,value in user_list.items %}
				                            {% if k == t.user_id %}
										        <td class="cell100 column3">{{ value }}</td>
                                            {% endif %}
			                            {% endfor %}
                                        <td class="cell100 column4"><img src="../static/myapp/media/{{t.pic_path }}" width="100" height="100"></td>
                                        <td class="cell100 column5">{{ t.result }}</td>
										<td class="cell100 column6">{{ t.dt }}/{{ t.tm }}</td>
									</tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

</center>

        <script src="{% static 'myapp/js/jquery-1.11.3.min.js'%}"></script>         <!-- jQuery (https://jquery.com/download/) -->
        <script src="{% static 'myapp/js/tether.min.js'%}"></script>                <!-- http://tether.io/ -->
        <script src="{% static 'myapp/js/isInViewport.min.js'%}"></script>          <!-- isInViewport js (https://github.com/zeusdeux/isInViewport) -->
        <script src="{% static 'myapp/js/bootstrap.min.js'%}"></script>             <!-- Bootstrap js (v4-alpha.getbootstrap.com/) -->
        <script src="{% static 'myapp/js/hero-slider-main.js'%}"></script>          <!-- Hero slider (https://codyhouse.co/gem/hero-slider/) -->
        <script src="{% static 'myapp/js/jquery.magnific-popup.min.js'%}"></script>


<!--===============================================================================================-->
	<script src="{% static 'myapp/table_view/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'myapp/table_view/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'myapp/table_view/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'myapp/table_view/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'myapp/table_view/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

</body>
</html>




</center>
</body>
</html>